<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.ProductMapper">
    <resultMap id="productResultMap" type="Product" autoMapping="true">
        <id property="id" column="pid"/>
    </resultMap>

    <select id="search" resultMap="productResultMap">
        SELECT * FROM tb_product
        <where>
            <if test="minPrice != null">
                AND price >= #{minPrice}
            </if>

            <if test="maxPrice != null">
                AND price &lt;= #{maxPrice}
            </if>
        </where>
    </select>
</mapper>
